<div class="lg:w-96 flex">
  <input [(ngModel)]="searchText" [ngModelOptions]="{standalone: true}"
  dir="ltr" class="dark:text-white dark:bg-slate-800 bg-gray-200 appearance-none rounded-s-lg w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" id="inline-full-name" type="text" placeholder="Search">
  <button (click)="searchTeacher()" dir="rtl" class = "py-2 px-4 bg-slate-900 hover:bg-slate-700 rounded-s-lg focus:outline-none focus:ring-2 rounded-s-lg focus:ring-slate-400 focus:ring-offset-2 focus:ring-offset-slate-50 text-white font-semibold items-center justify-center sm:w-auto dark:bg-sky-500 dark:highlight-white/20 dark:hover:bg-sky-400">
    <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 20 20"
    fill="currentColor"
    class="h-5 w-5">
    <path
      fill-rule="evenodd"
      d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z"
      clip-rule="evenodd" />
  </svg>
  </button>
</div>
